@import "../../../node_modules/@vime/core/themes/default.css";
/* Optional light theme (extends default). ~400B */
@import "../../../node_modules/@vime/core/themes/light.css";

:host {
  display: block;
  padding: 8px;
  color: white;
  background-color: black;
}

.hidden {
  display: none;
}

.right {
  text-align:right;
}

.colvids {
  /* float: left;
  width: 50%;
  padding: 10px; */
  /* height: 300px; */
  margin: 20px auto;
  max-width: 500px;
}
