@import "../../../node_modules/@vime/core/themes/default.css";

:host {
  display: block;
}
.hidden {display:none}

.right {
  text-align:right;
}

.col {
  display:inline;
  margin: 8px;
}

.colvids {
  /* float: left;
  width: 50%;
  padding: 10px; */
  /* height: 300px; */
  margin: 20px auto;
  max-width: 500px;
}

.ad-dash {
  font-family: technikusregular, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  background-color: black;
}
