:host {
  display: block;
}

.offer{
  border-radius: 4px;
  display:inline-block;
  font-family: technikusregular, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  color: white;
  background-color: black;
  padding: 4px 4px 4px 4px;
  text-decoration: none;
}
